#landingPage {
    /* background-image: url(../../img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh; */
    background-color: red;
}